# .ebextensions/01_environment.config
# Sets up environment variables and PYTHONPATH

option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:/var/app/current/backend:$PYTHONPATH"
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/app-logs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/app-updates.log
      /var/log/uvicorn.log
      /var/log/gunicorn.log