# .ebextensions/04_logging.config
# Configures log rotation for application logs

files:
  "/etc/logrotate.d/app-logs":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/app-updates.log {
        daily
        rotate 7
        compress
        delaycompress
        missingok
        notifempty
        create 0644 root root
      }
      
      /var/log/uvicorn.log {
        daily
        rotate 7
        compress
        delaycompress
        missingok
        notifempty
        create 0644 root root
      }